@import "common";

$bg:#15191c;
$sbg:#22252d;
$link:#477eff;
$orange:#fd8f02;
$blue:#1e54d4;

*{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.013);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    background: $bg;
    a{
        color: $link;
    }
  font-family: Arial, Helvetica, sans-serif;
}
::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
::-webkit-scrollbar-track {
    background:none; 
}
   
  ::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.219); 
  }


nav{
    background: $sbg;
    height: 10vh;
    padding: 2vh 1vw;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
#menu_checkbox {
    display: none;
}

p{
    text-align: center;
    color: aliceblue;
    letter-spacing: 1px;
    font-size: .8em;
    text-transform: uppercase;
}

}

.container{
    padding: 10px;
    p{
        margin-top: 10vh;
        color: white;
        font-size: .6em;
    }
    select{
        margin-top: 2vh;
        appearance: none;
        box-shadow: none;
        width: 20%;
        outline: none;
        border: none;
        font-size: .5em;
        flex: 1;
        padding: 0 10px;
        color: aliceblue;
        background-color:$sbg;
        cursor: pointer;
      }
      select::-ms-expand {
        display: none;
      }
      
      /* Custom Select wrapper */
      .lang-select {
        position: relative;
        display: flex;
        width: 15vw;
        height: 7vh;
        overflow: hidden;
      }
      /* Arrow */
      .lang-select::after {
        content: '▼';
        font-size: .6em;
        font-weight: bold;
        position: absolute;
        top: 0;
        right: 0;
        padding: 1.2em .8em;
        color:white;
        transition: .25s all ease;
        pointer-events: none;
      }
      /* Transition */
      .lang-select:hover::after {
        color: $blue;
      }
}

section{
    min-height: 100vh;
    color: aliceblue;
    .top{
        padding:0px 10px;
        font-size: .7em;
        display: flex;
        button{
            display: none;
        }
        margin-bottom: 1vh;
    }
}


.tr{
    display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .boxes{
      min-height: 70vh;
      padding: 10px;
      h3{
          font-weight: normal;
          font-size: .6em;
          padding: 6px;
          background: $sbg;
      }

      textarea{
        border: none;
        resize: none;
        outline: none;
        height: 45vh;
        width: 100%;
        color: $sbg;
        padding: 10px;
        font-size: .6em;
        font-family: sans-serif;
         &::selection{
          color: aliceblue;
          background:$orange;
      }
      }
     #output{
         font-family: 'ScherazadeNew';
         font-family: 'Times New Roman', Times, serif;
     }
     #input{
         font-family: 'Times New Roman', Times, serif;
     }
      select{
        appearance: none;
        box-shadow: none;
        outline: none;
        border: none;
        font-size: .5em;
        flex: 1;
        padding:0 8px;
        color: aliceblue;
        background-color:$sbg;
        cursor: pointer;
      }
      select::-ms-expand {
        display: none;
      }
      
      /* Custom Select wrapper */
      .select {
        position: relative;
        display: flex;
        width: 100%;
        height: 1.5em;
        overflow: hidden;
      }
      /* Arrow */
      .select::after {
        content: '⥮';
        font-size: .7em;
        font-weight: bold;
        position: absolute;
        top: 0;
        right: 0;
        padding: .6em .8em;
        color:white;
        transition: .25s all ease;
        pointer-events: none;
      }
      /* Transition */
      .select:hover::after {
        color: $blue;
      }
      
      //
      .select1 {
        position: relative;
        display: flex;
        width: 100%;
        height: 1.5em;
        overflow: hidden;
      }
      /* Arrow */
      .select1::after {
        content: '写';
        font-size: .7em;
        font-weight: bold;
        position: absolute;
        top: 0;
        right: 0;
        padding: .6em .8em;
        color:white;
        transition: .25s all ease;
        pointer-events: none;
      }

      .buttons{
          
        button{
         cursor: pointer;
          border: none;
          margin-top: .5vh;
          outline: none;
          font-size: .7em;
          padding: 2px 5px;
          background: $sbg;
          transition: all .3s ease;
          &:hover{
            background: $blue;
          }
        }

        #up, #down{
            display: none;
        }
        
      }
}

}

#second{
    padding: 20px 40px;
    h2{
        font-weight: 300;
        font-size: .8em;
    }
    background: $blue;
    a{
        color: $bg;
    }
    .cards{
        cursor: pointer;
        padding: 10px;
        border: 1px solid white;
        transition: all .3s ease-in;
        h3{
            font-size: .7em;
            margin-bottom: 1vh;
        }
        li{
            font-size: .6em;
            line-height: 5vh;
        }
        &:hover{
            background: rgba(255, 255, 255, 0.322);
        }
    }
}

#third{
    padding: 20px 40px;
    background: $orange;
    a{
        color: $bg;
        font-size: .6em;
    }
    h2{
        font-size: .7em;
    }
    p{
        font-size: .6em;
    }
    h4{
        font-size: .7em;
    }
    i{
        font-size: .7em;
    }
}

footer{
    background: $orange;
    border-top: 1px solid #ffa938;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: .6em;
    a{
        color: $sbg;
    }
}

#info{
    font-size: .6em;
    text-align: center;
}