@import "common";

$bg:#15191c;
$sbg:#22252d;
$link:#477eff;
$orange:#fd8f02;
$blue:#1e54d4;


*{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.013);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: $bg;
    a{
        color: $link;
    }
  font-family: Arial, Helvetica, sans-serif;
}

nav{
    background: $sbg;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7vh;
    padding: 2vh 1vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
    justify-content: left;
    gap: 3rem;
    z-index: 99;
    #menu_checkbox {
        display: none;
      }
    
    label {
        margin-left: 1vw;
        display: block;
        width: 10px;
        height: 6px;
        transform: translateY(-50%);
        transition: 0.3s ease transform;
        cursor: pointer;
      }
    
      label div {
        width: 3px;
        height: 3px;
        background-color: #f3eded;
        margin-bottom: 5px;
        border-radius: 20px;
        transition: 0.3s ease width, 0.3s ease margin-left, 0.3s ease margin-bottom,
          0.3s ease background-color;
      }
    
      label div:first-child {
        width: 10px;
      }
    
      label div:nth-child(2) {
        width: 20px;
      }
    
      label div:last-child {
        width: 15px;
        margin-bottom: 0;
      }
    
      #menu_checkbox:checked + label {
        transform: translateY(-20%) rotateZ(-90deg);
      }
    
      #menu_checkbox:checked + label div {
        width: 5px;
        height: 5px;
        margin-left: -2vw;
        margin-bottom: 1vh;
        background-color: white;
        transform: translateY(20%);
      }
      p{
          color: aliceblue;
          letter-spacing: 1px;
      }

}



section{
    min-height: 100vh;
    color: aliceblue;
    padding: 10px 5vw;
    .top{
        margin-top: 8vh;
        display: flex;
        padding: 1vh 0;
        p{
          margin-right: 1vw;
        }
    }
    
    .tr{
        display: flex;
        flex-direction: column;
        .boxes{
          min-height: 70vh;
          padding: 10px;
          background: white;
    }
  }
    textarea{
      font-family: 'ScherazadeNew';
      background: none;
        border: none;
        resize: none;
        outline: none;
        height: 64vh;
        width: 100%;
       color: $sbg;
       padding: 10px;
        font-size: 1em;
       font-family: sans-serif;
       &::selection{
        color: aliceblue;
        background:$blue;
    }
  #output{
      font-family: 'ScherazadeNew';
      font-family: 'Times New Roman', Times, serif;
  }
  #input{
      font-family: 'Times New Roman', Times, serif;
  }
    }
    select{
      margin-bottom: 1vh;
      appearance: none;
      box-shadow: none;
      outline: none;
      border: none;
      font-size: 1em;
      flex: 1;
      padding: 6px;
      color: aliceblue;
      background-color:$bg;
      cursor: pointer;
    }
    select::-ms-expand {
      display: none;
    }
    
    /* Custom Select wrapper */
    .select {
      position: relative;
      display: flex;
      width: 100%;
      border-radius: 20px;
      height: 2.5em;
    }
    /* Arrow */
    .select::after {
      content: '⥮';
      font-weight: bold;
      position: absolute;
      top: 0;
      right: 0;
      padding: .6em .8em;
      color:white;
      transition: .25s all ease;
      pointer-events: none;
    }
    /* Transition */
    .select:hover::after {
      color: $blue;
    }
    
    .select1 {
      position: relative;
      display: flex;
      width: 100%;
      height: 2.1em;
      overflow: hidden;
    }
    /* Arrow */
    .select1::after {
      content: '写';
      font-size: .8em;
      font-weight: bold;
      position: absolute;
      top: 0;
      right: 0;
      padding: .6em .8em;
      color:white;
      transition: .25s all ease;
      pointer-events: none;
    }

}



.buttons{
  button{
    margin-top: .5vh;
    outline: none;
    border: 2px solid $blue;
    font-size: 1em;
    padding: 5px;
    margin-right:1vw;
    transition: all .3s ease;
    &:focus{
      background: $blue;
      border: 1px solid $link;
    }
  }
  
}

#second{
  background: $blue;
  h2{
    margin-top: 7vh;
  }
  a{
    color: $sbg;
  }
}
#third{
  background: $orange;
  h2{
    margin-top: 7vh;
  }
  a{
    color: $sbg;
  }
}

footer{
  background: $orange;
  border: none;
  border-top: 1px solid #ffa938;
  color: white;
  text-align: center;
  padding: 10px 0;
  a{
    color: $sbg;
  }
 
}

.cards{
  padding: 10px;
  gap: 1rem;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.322);
  h3{
  margin-bottom: 2vh;
  }
  li{
   list-style: decimal;
   line-height: 5vh;
  }
}

.options{
  //border: 2px solid orangered;
  color: $sbg;
  h4{
    font-weight: normal;
  }
  padding: 4px 2px;
  margin-top: 1vh;
.checkbox{
  cursor: pointer;
  position: relative;
  margin: auto;
  width: 1rem;
  height: 1rem;}
}

.container{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  background: $bg;
  width: 100%;
  display: none;
  min-height: 100vh;
  padding: 20px;
  color: white;
  p{
    margin-top: 8vh;
  }
  select{
    margin-top: 2vh;
    appearance: none;
    box-shadow: none;
    width: 80%;
    outline: none;
    border: none;
    font-size: 1em;
    flex: 1;
    padding: 6px;
    color: aliceblue;
    background-color:$sbg;
    cursor: pointer;
  }
  select::-ms-expand {
    display: none;
  }
  
  /* Custom Select wrapper */
  .lang-select {
    position: relative;
    display: flex;
    width: 90vw;
    height: 3em;
    overflow: hidden;
  }
  /* Arrow */
  .lang-select::after {
    content: '▼';
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.3em .8em;
    color:white;
    transition: .25s all ease;
    pointer-events: none;
  }
  /* Transition */
  .lang-select:hover::after {
    color: $blue;
  }

}

#langs{
  background: none;
  outline: none;
  border: none;
  text-decoration: underline;
  font-weight: bold;
  color: $orange;
  cursor: pointer;
}
#info{
  margin-top: 2vh;
  font-size: 1em;
  text-align: center;
}