:root{
    --background-color:#fff;
    --highlight-color:#e6e9dd;
    --bg-orange:#fd8f02;
    --bg-dark:rgb(20, 20, 20);
    --bg-blue:#2b65ec;
    --link-color:rgb(36, 36, 36);
    --bg-red:#eb3026;
    --text-color:rgb(82, 82, 82);
}

@font-face{
    font-family: 'ScheherazadeNew';
    src:  url('./test/fonts/ScheherazadeNew-Regular.ttf') format('truetype');
}

body{
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body a{
    background: var(--bg-red);
    padding: 3px 15px;
    color: var(--background-color);
    border-radius: 30px;
    text-decoration: none;
    transition: all .3s ease;
}

body a:hover{
    background: var(--bg-orange);
}

body::-webkit-scrollbar {
    width: 2px;
}
body::-webkit-scrollbar-thumb {
    background-color: var(--bg-blue);
}

nav{
    background: var(--background-color);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    border-radius: 30px;
}

nav p{
    text-align: center;
    cursor: default;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--bg-blue);
}

.menu{
    cursor: pointer;
    transition: all .3s ease;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu:active{
    transform: skewX(-80deg);
}

button{
    outline: none;
    border: none;
}

.container{
    color: var(--bg-dark);
}

.locale-switcher{
    outline: none;
    border: none;
    width: 30%;
    background: none;
    border: 2px solid var(--bg-dark);
    color: var(--bg-dark);
    height: 5vh;
    padding: 0 10px;
    border-radius: 30px;
    margin-bottom: 2vh;
    cursor: pointer;
    line-height: 1vh;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.locale-switcher option{
    font-size: 1.3em;
}

section{
    padding: 20px 80px;
    min-height: 100vh;
}

.top{
    margin-top: 1vh;
    padding: 5px 10px;
    border-radius: 30px;
    background: var(--bg-blue);
    width: fit-content;
}
.top a{
    font-size: .8em;
    color: var(--background-color);
    background: none;
    padding: 0;
    border: none;
}

.top a:hover{
    background: none;
}

.stack{
    margin-top: 2vh;
    display: grid;
    grid-template-rows: 1fr auto;
    border-top: none;
}

.menu-bar{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    text-align: center;
    height: 6vh;
}

.buttons{
    height: 100%;
    display: flex;
    justify-content: center;
}

.btn{
    width: 5vw;
    cursor: pointer;
    transition: all .5s ease;
}

.btn:hover{
background: rgb(206, 206, 206);
}

.select{
    width: 100%;
    border: 1px solid var(--highlight-color);
}

.select select{
    width: 80%;
    height: 100%;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 0px 30px;
    font-size: 1em;
    background: var(--highlight-color);
    color: var(--bg-dark);
}

.select option{
    background: var(--highlight-color);
    color:var(--bg-dark);
    font-size: large;
    cursor: pointer;
}

.text-boxes textarea{
    margin-top: 1vh;
    outline: none;
    border: none;
    font-family:'ScheherazadeNew';
    font-family: 'Times New Roman', Times, serif;
    resize: none;
    padding: 10px;
    font-size: 1.2em;
    height: 40vh;
    border: 1px solid var(--highlight-color);
}


li{
    line-height: 5vh;
}

#second{
    background: var(--highlight-color);
    color: var(--link-color);
}

footer{
    border-top: 2px solid var(--highlight-color);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a{
    background: none;
    text-decoration: underline;
    color: var(--bg-dark);
}

footer a:hover{
    background: none;
    color: var(--bg-red);
}
.icons{
    background: none;
    text-decoration: none;
    border-radius: none;
    border: none;
    color: var(--bg-dark);
    font-size: 1em;
}
