@import "common.css";

nav{
    display: grid;
    grid-template-columns: 1fr 7fr;
    top: 8px;
    width: 90%;
    margin: 0 auto;
}


.container{
    display: none;
    border-bottom: 2px solid var(--bg-dark);
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2vh;
    -webkit-animation: heroreveal .7s ease 0s 1 normal none;
    animation: heroreveal .5s ease 0s 1 normal none;
    
}

@keyframes heroreveal {
    0.0% {
      -webkit-transform: translate(-800px, 0px);
              transform: translate(-800px, 0px);
    }
    100% {
      -webkit-transform: translate(0px, 0px);
              transform: translate(0px, 0px);
    }
}
  
.text-boxes{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cards{
  border: 2px solid var(--background-color);
  padding: 10px;
  color: var(--text-color);
  border-radius: 10px 20px;
  cursor: pointer;
  transition: all .3s ease;
}

.cards:hover{
  background: var(--background-color);
}
.hide{
  display: none;
}
