@import "common.css";


nav{
    display: grid;
    grid-template-columns: 1fr 7fr;
    top: 5px;
    width: 90%;
    margin: 0 auto;
    box-shadow: none;
    border-radius: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.container{
    display: none;
    border-bottom: 2px solid var(--bg-dark);
    width: 90%;
    margin: 0 auto;
    margin-bottom: 2vh;
    -webkit-animation: heroreveal .7s ease 0s 1 normal none;
    animation: heroreveal .5s ease 0s 1 normal none;
    
}

@keyframes heroreveal {
    0.0% {
      -webkit-transform: translate(-800px, 0px);
              transform: translate(-800px, 0px);
    }
    100% {
      -webkit-transform: translate(0px, 0px);
              transform: translate(0px, 0px);
    }
}

.text-boxes{
    display: grid;
    gap: 1vw;
    grid-template-rows: 1fr 1fr;
}

.text-boxes textarea{
    margin-top: 0vh;
    border: 1px solid var(--bg-dark);
    resize: none;
    padding: 10px;
    font-size: 1.3em;
    height: 59vh;
}


.locale-switcher{
    width: 60%;
    font-size: .7em;
}



.locale-switcher option{
    font-size: 1em;
}

section{
    padding: 10px 20px;
    font-size: .9em;
}

.top{
    margin-top: 0vh;
    padding: 4px 8px;
    border-radius: 0px;
    background: none;
    border-bottom: 2px solid var(--bg-blue);
}
.top a{
    font-size: .9em;
    color: var(--bg-dark);
    background: none;
}

.stack{
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
}

.menu-bar{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: fit-content;
}

.buttons{
    height: 100%;
    display: flex;
}

.btn{
    padding: 8px 7px;
    font-size: 1em;
    width: 50vw;
    border: 1px solid var(--bg-dark);
    cursor: pointer;
    background: var(--bg-dark);
    transition: all .5s ease;
    color: var(--background-color);
}
.btn:hover{
    background:var(--bg-blue);
}

.select{
    width: 100%;
    border: none;
}

.select select{
    width: 100%;
    border-left:1px solid var(--bg-dark);
    border-right:1px solid var(--bg-dark);
    padding: 5px 30px;
    background: var(--bg-blue);
    color: var(--background-color);
}

.select option{
    background: var(--bg-blue);
    color:var(--background-color);
    font-size: small;

}

body a{
    background: none;
    padding: 2px 7px;
    color: var(--background-color);
    background: var(--bg-red);
    border-radius: 30px;
    font-size: .8em;
    border-bottom: 2px solid var(--bg-red);
}
.mob{
    display: none;
}

.hide{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hide button{
    width: 30vw;
}
